In [1]:
"Hello my name is Sajad."

'Hello my name is Sajad.'

In [2]:
message = "I'm a software engineer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology."

In [3]:
message

"I'm a software engineer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology."

In [4]:
print(message)
# This line prints the value of the variable `message` to the console.

I'm a software engineer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology.

In [5]:
print("message")
#This line prints the string "message" to the console, which is not the same as printing the variable `message` that contains the author's description.

message

In [6]:
print(type(message))
# This line checks the type of the variable `message` and returns `<class 'str'>`, indicating that `message` is a string.

<class 'str'>

In [7]:
print(message[0])
# This line prints the first character of the string `message`.

I

In [8]:
print(message[7])
# This line prints the eighth character of the string `message`.
# Space is counted as a character, so the first character is at index 0, the second at index 1, and so on.

o

In [9]:
print(message[0:5])
# This line prints the first five characters of the string `message`.

I'm a

In [10]:
print(message[:15])
# This line prints the first fifteen characters of the string `message`.
# This is equivalent to `message[0:15]`, which also prints the first fifteen characters.

I'm a software

In [11]:
print(message[20:])
# This line prints the substring of `message` starting from the 21st character to the end of the string.
# The colon `:` indicates that we want to include everything from index 20 to the end of the string.

eer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology.

In [12]:
print(message[-1])
# This line prints the last character of the string `message`.
# Negative indexing allows us to access characters from the end of the string, where -1 refers to the last character, -2 to the second last, and so on.

.

In [13]:
print(message[-11 : -1])
# This line prints the substring of `message` starting from the 11th character from the end to the second last character.
# The negative index -11 refers to the 11th character from the end, and -1 refers to the last character, which is not included in the output.

technology

In [14]:
print(message[6 : 15 : 2])
# This line prints every 2nd character from the substring of `message` starting from the 7th character (index 6) to the 15th character (index 14).
# The output will include the characters at index 6, 8, 10, 12, and 14, which are 'a', ' ', 'e', ' ', and 's', respectively.

sfwr

In [15]:
number = "0123456789"

In [16]:
print(number[::-1])
# This line prints the string `number` in reverse order.

9876543210

In [17]:
Message = """ 
    Hi there!
    I'm Sajad, a software engineer with a passion for coding and technology.
    I enjoy solving complex problems and building innovative solutions.
    In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. 
    I'm always eager to learn and grow in my field, and I'm excited about the future of technology.
    I hope to connect with like-minded individuals and share knowledge and experiences. Let's collaborate and create something amazing together!
"""

In [18]:
print(Message)
# This line prints the multi-line string `Message` to the console.
# The triple quotes `"""` allow us to create a string that spans multiple lines, making it easier to read and format.

    Hi there!
    I'm Sajad, a software engineer with a passion for coding and technology.
    I enjoy solving complex problems and building innovative solutions.
    In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects.
    I'm always eager to learn and grow in my field, and I'm excited about the future of technology.
    I hope to connect with like-minded individuals and share knowledge and experiences. Let's collaborate and create something amazing together!

In [19]:
print("Hello my name is Sajad.\n I'm a electrical engineer.\n I love coding and working on machine learning projects.")
# This line prints a multi-line string to the console using the newline character `\n` to separate each line.
# The output will include three lines: "Hello my name is Sajad.", "I'm a electrical engineer.", and "I love coding and working on machine learning projects."
# The newline character `\n` is used to create line breaks in the output, making it easier to read and understand.

Hello my name is Sajad.
 I'm a electrical engineer.
 I love coding and working on machine learning projects.

In [20]:
name = "sajad"
print(name[0])
# This line prints the first character of the string `name`, which is 's'.

s

In [21]:
name[0] = "S"
# This line will raise an error because strings in Python are immutable, meaning we cannot change individual characters in a string.

TypeError: 'str' object does not support item assignment

In [22]:
replace_name = name.replace("s", "S")
print(replace_name)
# This line creates a new string `replace_name` by replacing the first occurrence of 's' with 'S' in the string `name`.
print(name)
# This line prints the original string `name`, which remains unchanged because strings are immutable in Python.
# The output will show that `replace_name` is "Sajad", while `name` remains "sajad".

Sajad
sajad

In [23]:
name = "sajad sajadi"
replace_name = name.replace("s", "S")
print(replace_name)
# This line creates a new string `replace_name` by replacing all occurrences of 's' with 'S' in the string `name`.

Sajad Sajadi

In [24]:
print(name)
name = 'S' + name[1:5]
print(name)
# This line creates a new string `name` by concatenating 'S' with the substring of `name` starting from the second character (index 1) to the fifth character (index 4).

sajad sajadi
Sajad

In [25]:
print(name*3)
# This line prints the string `name` three times in a row, creating a repeated output.

SajadSajadSajad

In [26]:
# This part of the code is just for fun and not intended for learning purposes. :))

for i in range(1, 10):
    print('*'*(2*i))
    
# This loop iterates from 1 to 9 (inclusive) and prints asterisks in a pyramid-like pattern.
# The expression '*'*(2*i) creates a string of asterisks with a length of 2*i, where i is the current iteration index.

**
****
******
********
**********
************
**************
****************
******************

In [27]:
for i in range(1, 10):
    print(' ' * (10 - i) + '*' * (2 * i - 1))
    
# This loop iterates from 1 to 9 (inclusive) and prints asterisks in a pyramid-like pattern with spaces on the left.
# The expression ' ' * (10 - i) creates a string of spaces with a length of 10 - i, where i is the current iteration index.
# The expression '*' * (2 * i - 1) creates a string of asterisks with a length of 2*i - 1, which gives the pyramid shape.
# The combination of spaces and asterisks creates a centered pyramid shape.

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [28]:
greeting = "Hello"
print(greeting+"\t"+name)
# This line prints the string `greeting` followed by a tab character `\t` and then the string `name`.
# The tab character `\t` creates a horizontal space between the two strings, making the output more visually appealing.
print(greeting + "\t" + "Samson")
print(greeting + "\t" + "Robert")
# The tab character `\t` creates a horizontal regular space between the two strings, making the output more readable.

Hello	Sajad
Hello	Samson
Hello	Robert

In [29]:
type(name)
# This line checks the type of the variable `name` and returns `<class 'str'>`, indicating that `name` is a string.

str

In [30]:
print(type(name))
# This line checks the type of the variable `name` and returns `<class 'str'>`, indicating that `name` is a string.
# Different from the previous line, this line prints the type of `name` to the console.

<class 'str'>

In [31]:
type(2)

int

In [32]:
type('2')
# This line checks the type of the string '2' and returns `<class 'str'>`, indicating that '2' is a string.
# Different from the previous line, this line checks the type of a string '2' instead of an integer 2.

str

In [33]:
print(2+3)

5

In [34]:
print('2'+'3')
# This line concatenates the strings '2' and '3' and prints the result, which is '23'.
# The plus operator `+` is used for both addition (for numbers) and concatenation (for strings).
# Different from the previous line, this line concatenates two strings instead of adding two numbers.

23

In [35]:
name.center(20)
# This line centers the string `name` within a field of width 20 characters.
# The `center` method adds spaces on both sides of the string to make it centered within the specified width.

'       Sajad        '

In [36]:
print(name)

Sajad

In [37]:
name = "sajad"
name.capitalize()
# This line capitalizes the first character of the string `name` and returns a new string with the first character in uppercase and the rest in lowercase.

'Sajad'

In [38]:
print(name)

sajad

In [39]:
name.ljust(20)
# This line left-justifies the string `name` within a field of width 20 characters.

'sajad               '

In [40]:
name = name.upper()
# This line converts the string `name` to uppercase and returns a new string with all characters in uppercase.
print(name)

SAJAD

In [41]:
name = name.lower()
# This line converts the string `name` to lowercase and returns a new string with all characters in lowercase.
print(name)

sajad

In [44]:
name = name.capitalize()
# This line capitalizes the first character of the string `name` and returns a new string with the first character in uppercase and the rest in lowercase.
print(name)
name = name.casefold()
# This line converts the string `name` to a case-folded version, which is a more aggressive form of lowercasing that is useful for case-insensitive comparisons.
print(name)

Sajad
sajad

In [45]:
name.islower()
# This line checks if all characters in the string `name` are lowercase and returns `True` if they are, otherwise it returns `False`.

True

In [46]:
name.isupper()
# This line checks if all characters in the string `name` are uppercase and returns `True` if they are, otherwise it returns `False`.

False

In [48]:
name.count("a")
# This line counts the number of occurrences of the character 'a' in the string `name` and returns the count.

2

In [51]:
name.find("a")
# This line finds the first occurrence of the character 'a' in the string `name` and returns its index. If 'a' is not found, it returns -1.

1

In [52]:
name.rfind("a")
# This line finds the last occurrence of the character 'a' in the string `name` and returns its index. If 'a' is not found, it returns -1.

3

In [64]:
word_list = Message.split()
# This line splits the string `Message` into a list of substrings based on whitespace characters (spaces, tabs, newlines) and returns the list.
for word in word_list:
    print(word)

Hi
there!
I'm
Sajad,
a
software
engineer
with
a
passion
for
coding
and
technology.
I
enjoy
solving
complex
problems
and
building
innovative
solutions.
In
my
free
time,
I
like
to
explore
new
programming
languages
and
frameworks,
as
well
as
contribute
to
open-source
projects.
I'm
always
eager
to
learn
and
grow
in
my
field,
and
I'm
excited
about
the
future
of
technology.
I
hope
to
connect
with
like-minded
individuals
and
share
knowledge
and
experiences.
Let's
collaborate
and
create
something
amazing
together!

In [62]:
print(name.index('j'))
#print(name.index('k'))
# This line finds the first occurrence of the character 'j' in the string `name` and returns its index. If 'j' is not found, it raises a ValueError.
print(name.find('K'))
# This line finds the first occurrence of the character 'K' in the string `name` and returns its index. If 'K' is not found, it returns -1.

2
-1

In [ ]:
name = "Sajad"
family = "Oboodi"
print(name)
print(family)
print(name + " " + family)
# This line concatenates the strings `name` and `family` with a space in between and prints the result.
# This code is ugly, not good, and unreadable.

Sajad
Oboodi
Sajad Oboodi

In [79]:
# string interpolation

print("%s %s is a electrical engineer" % (name, family))
# This line uses the old-style string formatting with the `%` operator to create a new string that includes the values of `name` and `family`.
# The `%s` placeholders are replaced with the corresponding values in the tuple `(name, family)`.


print("{} {} is a electrical engineer".format(name, family))
# This line uses the `format` method to create a new string that includes the values of `name` and `family` within curly braces `{}`.
print("{1}' {0} is a electrical engineer".format(name, family))
# The numbers inside the curly braces `{}` indicate the index of the corresponding argument in the `format` method.
print("{first_name} {last_name} is a electrical engineer".format(first_name=name, last_name=family))
# The names inside the curly braces `{}` indicate the keyword arguments passed to the `format` method.

print(f"{name} {family} is a electrical engineer")
# This line uses f-string formatting to create a new string that includes the values of `name` and `family` within curly braces `{}`.
# F-strings are a more readable and efficient way to format strings in Python.

Sajad Oboodi is a electrical engineer
Sajad Oboodi is a electrical engineer
Oboodi' Sajad is a electrical engineer
Sajad Oboodi is a electrical engineer
Sajad Oboodi is a electrical engineer

# Making Code More Readable with Comments

The above code is written in a verbose manner with detailed comments to ensure readability and to serve as a reference for future use. This approach helps in understanding the purpose of each line and makes it easier to maintain the code over time.

In [87]:
text = "Python"
len(text)
# This line checks the length of the string `text` and returns the number of characters in it.

6

In [94]:
# This code converts a string to lowercase, splits it into words, and prints each word on a new line.

text = 'Hi this is a string'

text = text.lower()

print(text)

list_text = text.split()

for word in list_text:
    print(word)

print(type(list_text))

hi this is a string
hi
this
is
a
string
<class 'list'>