In [1]:
"Hello my name is Sajad."

'Hello my name is Sajad.'

In [2]:
message = "I'm a software engineer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology."

In [3]:
message

"I'm a software engineer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology."

In [4]:
print(message)
# This line prints the value of the variable `message` to the console.

I'm a software engineer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology.

In [5]:
print("message")
#This line prints the string "message" to the console, which is not the same as printing the variable `message` that contains the author's description.

message

In [6]:
print(type(message))
# This line checks the type of the variable `message` and returns `<class 'str'>`, indicating that `message` is a string.

<class 'str'>

In [7]:
print(message[0])
# This line prints the first character of the string `message`.

I

In [8]:
print(message[7])
# This line prints the eighth character of the string `message`.
# Space is counted as a character, so the first character is at index 0, the second at index 1, and so on.

o

In [9]:
print(message[0:5])
# This line prints the first five characters of the string `message`.

I'm a

In [10]:
print(message[:15])
# This line prints the first fifteen characters of the string `message`.
# This is equivalent to `message[0:15]`, which also prints the first fifteen characters.

I'm a software

In [11]:
print(message[20:])
# This line prints the substring of `message` starting from the 21st character to the end of the string.
# The colon `:` indicates that we want to include everything from index 20 to the end of the string.

eer with a passion for coding and technology. I enjoy solving complex problems and building innovative solutions. In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. I'm always eager to learn and grow in my field, and I'm excited about the future of technology.

In [12]:
print(message[-1])
# This line prints the last character of the string `message`.
# Negative indexing allows us to access characters from the end of the string, where -1 refers to the last character, -2 to the second last, and so on.

.

In [13]:
print(message[-11 : -1])
# This line prints the substring of `message` starting from the 11th character from the end to the second last character.
# The negative index -11 refers to the 11th character from the end, and -1 refers to the last character, which is not included in the output.

technology

In [14]:
print(message[6 : 15 : 2])
# This line prints every 2nd character from the substring of `message` starting from the 7th character (index 6) to the 15th character (index 14).
# The output will include the characters at index 6, 8, 10, 12, and 14, which are 'a', ' ', 'e', ' ', and 's', respectively.

sfwr

In [15]:
number = "0123456789"

In [16]:
print(number[::-1])
# This line prints the string `number` in reverse order.

9876543210

In [5]:
Message = """ 
    Hi there!
    I'm Sajad, a software engineer with a passion for coding and technology.
    I enjoy solving complex problems and building innovative solutions.
    In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects. 
    I'm always eager to learn and grow in my field, and I'm excited about the future of technology.
    I hope to connect with like-minded individuals and share knowledge and experiences. Let's collaborate and create something amazing together!
"""

In [ ]:
print(Message)
# This line prints the multi-line string `Message` to the console.
# The triple quotes `"""` allow us to create a string that spans multiple lines, making it easier to read and format.

    Hi there!
    I'm Sajad, a software engineer with a passion for coding and technology.
    I enjoy solving complex problems and building innovative solutions.
    In my free time, I like to explore new programming languages and frameworks, as well as contribute to open-source projects.
    I'm always eager to learn and grow in my field, and I'm excited about the future of technology.
    I hope to connect with like-minded individuals and share knowledge and experiences. Let's collaborate and create something amazing together!

In [7]:
print("Hello my name is Sajad.\n I'm a electrical engineer.\n I love coding and working on machine learning projects.")
# This line prints a multi-line string to the console using the newline character `\n` to separate each line.
# The output will include three lines: "Hello my name is Sajad.", "I'm a electrical engineer.", and "I love coding and working on machine learning projects."
# The newline character `\n` is used to create line breaks in the output, making it easier to read and understand.

Hello my name is Sajad.
 I'm a electrical engineer.
 I love coding and working on machine learning projects.

In [9]:
name = "sajad"
print(name[0])
# This line prints the first character of the string `name`, which is 's'.

s

In [10]:
name[0] = "S"
# This line will raise an error because strings in Python are immutable, meaning we cannot change individual characters in a string.

TypeError: 'str' object does not support item assignment

In [13]:
replace_name = name.replace("s", "S")
print(replace_name)
# This line creates a new string `replace_name` by replacing the first occurrence of 's' with 'S' in the string `name`.
print(name)
# This line prints the original string `name`, which remains unchanged because strings are immutable in Python.
# The output will show that `replace_name` is "Sajad", while `name` remains "sajad".

Sajad
sajad

In [15]:
name = "sajad sajadi"
replace_name = name.replace("s", "S")
print(replace_name)
# This line creates a new string `replace_name` by replacing all occurrences of 's' with 'S' in the string `name`.

Sajad Sajadi

In [17]:
print(name)
name = 'S' + name[1:5]
print(name)
# This line creates a new string `name` by concatenating 'S' with the substring of `name` starting from the second character (index 1) to the fifth character (index 4).

sajad sajadi
Sajad

In [18]:
print(name*3)
# This line prints the string `name` three times in a row, creating a repeated output.

SajadSajadSajad

In [25]:
# This part of the code is just for fun and not intended for learning purposes. :))

for i in range(1, 10):
    print('*'*(2*i))
    
# This loop iterates from 1 to 9 (inclusive) and prints asterisks in a pyramid-like pattern.
# The expression '*'*(2*i) creates a string of asterisks with a length of 2*i, where i is the current iteration index.

**
****
******
********
**********
************
**************
****************
******************

In [27]:
for i in range(1, 10):
    print(' ' * (10 - i) + '*' * (2 * i - 1))
    
# This loop iterates from 1 to 9 (inclusive) and prints asterisks in a pyramid-like pattern with spaces on the left.
# The expression ' ' * (10 - i) creates a string of spaces with a length of 10 - i, where i is the current iteration index.
# The expression '*' * (2 * i - 1) creates a string of asterisks with a length of 2*i - 1, which gives the pyramid shape.
# The combination of spaces and asterisks creates a centered pyramid shape.

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [32]:
greeting = "Hello"
print(greeting+"\t"+name)
# This line prints the string `greeting` followed by a tab character `\t` and then the string `name`.
# The tab character `\t` creates a horizontal space between the two strings, making the output more visually appealing.
print(greeting + "\t" + "Samson")
print(greeting + "\t" + "Robert")
# The tab character `\t` creates a horizontal regular space between the two strings, making the output more readable.

Hello	Sajad
Hello	Samson
Hello	Robert

In [35]:
type(name)
# This line checks the type of the variable `name` and returns `<class 'str'>`, indicating that `name` is a string.

str

In [34]:
print(type(name))
# This line checks the type of the variable `name` and returns `<class 'str'>`, indicating that `name` is a string.
# Different from the previous line, this line prints the type of `name` to the console.

<class 'str'>