# Set in Python

A **set** is a built-in data type in Python that is used to store multiple items in a single variable. It is an unordered, mutable, and unindexed collection of unique elements. Sets are commonly used for membership testing, removing duplicates, and performing mathematical operations like union, intersection, and difference.

## Key Features of Sets:
1. **Unordered**: The elements in a set do not have a defined order.
2. **Unique Elements**: A set cannot contain duplicate elements.
3. **Mutable**: You can add or remove elements from a set.
4. **Unindexed**: Sets do not support indexing or slicing.

## Creating a Set:
You can create a set using curly braces `{}` or the `set()` constructor:

In [ ]:
my_set = {"John", 123, 45.67, True}
# declare a set with different data types

# Defining Lists or Dictionaries in a Set

In Python, sets are collections of unique and immutable elements. However, it is important to note that the elements of a set must be **hashable**. This means that mutable data types like lists and dictionaries cannot be directly added to a set because they are not hashable.

## Why Lists or Dictionaries Cannot Be in a Set:
1. **Lists**: Lists are mutable, meaning their contents can change after creation. This mutability makes them unhashable and unsuitable for inclusion in a set.
2. **Dictionaries**: Similarly, dictionaries are mutable and cannot be added to a set.

## Example:

In [12]:
#my_set = {"John", 123, 45.67, True, [1, 2, 3]}

'''
TypeError                                 

----> 1 my_set = {"John", 123, 45.67, True, [1, 2, 3]}

TypeError: unhashable type: 'list'

'''

'\nTypeError                                 \n\n----> 1 my_set = {"John", 123, 45.67, True, [1, 2, 3]}\n\nTypeError: unhashable type: \'list\'\n\n'

In [13]:
type(my_set)
# set is unordered, unindexed, and unchangeable

set

In [ ]:
number_set = set()
# declare an empty set

In [ ]:
number_set.add(1)
number_set.add(2)
number_set.add(3)
# add elements to the set

In [ ]:
print(number_set)

{1, 2, 3}

In [17]:
number_set.add(1)
number_set.add(2)
number_set.add(3)
# add duplicate elements to the set

In [19]:
print(number_set)
# Adding duplicate elements to a set has no effect as sets only store unique elements

{1, 2, 3}

In [23]:
print(my_set)
# The outputs are mixed up between the defined set and the printed set.
# This is because sets are unordered collections of unique elements.
# The order of elements in a set is not guaranteed to be the same as the order in which they were added.

{True, 123, 45.67, 'John'}

In [25]:
my_set.union(number_set)
# The union() method returns a new set with all elements from both sets

{123, 2, 3, 45.67, 'John', True}

In [31]:
print(my_set.intersection(number_set))
# The intersection() method returns a new set with elements that are common to both sets
# If intersection() method outputs an empty set, it means there are no common elements between the two sets and If the intersection() method outputs a set with elements, it means there are common elements between the two sets
# In this case, the intersection() method outputs an 1 because the true value is considered as 1 in Python

{1}

In [32]:
print(my_set.difference(number_set))
# The difference() method returns a new set with elements that are in the first set but not in the second set

{123, 45.67, 'John'}

In [ ]:
#my_set + number_set
# The + operator cannot be used to combine sets in Python
# TypeError: unsupported operand type(s) for +: 'set' and 'set'

{True, 2, 3, 'John', 123, 45.67}

In [35]:
# To combine sets, you can use the union() method or the | operator
print(my_set | number_set)

{True, 2, 3, 'John', 123, 45.67}